{% extends "base.html" %}

<div id="{{ window.elementId }}" class="snowball-window" style="width: 80vw; height: 80vh; top: 10vh; left: 10vw">
    <div class="title-bar" id="title-bar-{{ window.elementId }}">
        <div class="button close-button" id="close-btn-{{ window.elementId }}"></div>
        <div class="button minimize-button" id="min-btn-{{ window.elementId }}"></div>
        <div class="button maximize-button" id="max-btn-{{ window.elementId }}"></div>
        {{ window.title }}
    </div>
    <div class="snowball-window-content">
        {% block content %} {% endblock %}
    </div>
</div>