{% extends 'base.html' %}

{% block content %}
{% load static %}

<div id="docIcon" class="draggable-element">
    <div class="snowball-icon-content">
        <img src="{% static 'snowball_main/svg/doc.svg' %}" alt="Document Icon" width="50vh">
        <div>Docs ↗</div>
    </div>
</div>

<div id="snowballswiftkit" class="draggable-element snowball-window">
    <div class="snowball-window-content">
        <a href="https://github.com/snowball-tools/SnowballSwiftKit">SnowballSwiftKit</a>
    </div>
</div>

<div id="snowballdjango" class="draggable-element snowball-window">
    <div class="snowball-window-content">
        <a href="https://github.com/snowball-tools/SnowballDjango">This Django App</a>
    </div>
</div>

<div id="convertSVGToSFSymbol" class="draggable-element snowball-window">
    <div class="snowball-window-content">
        <a href="https://github.com/snowball-tools/ConvertSVGToSFSymbol">Convert SVG files to SF Symbol</a>
    </div>
</div>

<div id="snowballExampleTypescriptExpo" class="draggable-element snowball-window">
    <div class="snowball-window-content">
        <a href="https://github.com/snowball-tools/SnowballExampleTypescriptExpo">Example Typescript React Native Expo
            App</a>
    </div>
</div>

{% endblock %}