{% extends 'base.html' %}

{% block content %}
{% load static %}

<div id="docIcon" class="draggable-element">
    <div class="snowball-icon-content">
        <img src="{% static 'snowball_main/svg/doc.svg' %}" alt="Document Icon" width="50vh">
        <div>Docs ↗</div>
    </div>
</div>

{% for window in links %}

<div id="{{ window.id }}" class="snowball-window">
    <div class="title-bar" id="title-bar-{{ window.id }}">
        <div class="button close-button" id="close-btn-{{ window.id }}"></div>
        <div class="button minimize-button" id="min-btn-{{ window.id }}"></div>
        <div class="button maximize-button" id="max-btn-{{ window.id }}"></div>
        {{ window.title }}
    </div>
    <div class="snowball-window-content">
        <a href="{{ window.url }}">{{ window.name }}</a>
    </div>
</div>

{% endfor %}

{% endblock %}