.draggable-element {
  position: absolute;
  cursor: move;
}

.title-bar {
  height: 20px;
  background: #eee;
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: move;
}

.button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.close-button {
  background: #ff5f56;
}

.minimize-button {
  background: #ffbd2e;
}

.maximize-button {
  background: #27c93f;
}

.snowball-window-content {
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.snowball-icon-content {
  padding-top: 20px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.snowball-window {
  background: #fff;
  border: 1px solid #aaa;
  position: absolute;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
}

#snowballswiftkit {
  top: 10%;
  left: 20%;
}

#thisdjangoapp {
  top: 30%;
  left: 60%;
}

#convertsvgfilestosfsymbol {
  top: 60%;
  left: 70%;
}

#exampletypescriptreactnativeexpoapp {
  top: 80%;
  left: 5%;
}

#docIcon {
  top: 5%;
  left: 90%;
}

@media (max-width: 480px) {
  #thisdjangoapp {
    left: 30%;
  }

  #convertsvgfilestosfsymbol {
    left: 40%;
  }

  #docIcon {
    left: 60%;
  }
}
