#snowballswiftkit {
  top: 10%;
  left: 20%;
}

#thisdjangoapp {
  top: 30%;
  left: 60%;
}

#convertsvgfilestosfsymbol {
  top: 60%;
  left: 70%;
}

#exampletypescriptreactnativeexpoapp {
  top: 80%;
  left: 5%;
}

#docIcon {
  top: 5%;
  left: 90%;
}

@media (max-width: 480px) {
  #thisdjangoapp {
    left: 30%;
  }

  #convertsvgfilestosfsymbol {
    left: 40%;
  }

  #docIcon {
    left: 60%;
  }
}
