{% extends 'base.html' %}

{% block content %}

<meta name="appleid-signin-client-id" content="xyz.mobiletools.MobileToolsAuth.serviceid">
<meta name="appleid-signin-redirect-uri" content="https://www.mobiletools.xyz/complete/apple-id/">

<div id="{{ post.slug }}" class="snowball-window" style="width: 80%
; top: 10%; left: 10%">
    <div class="title-bar">
        <div class="button close-button"></div>
        <div class="button minimize-button"></div>
        <div class="button maximize-button"></div>
    </div>
    <div class="snowball-window-content">
        {% if user.is_authenticated %}

        <h1>{{ user.username }}</h1>

        {% else %}

        <a href="{% url 'social:begin' 'facebook' %}">Facebook</a>
        <a href="{% url 'social:begin' 'google-oauth2' %}">Google</a>

        <a href="{% url 'social:begin' 'apple-id' %}">Apple</a>
        <style>
            .signin-button {
                width: 210px;
                height: 40px;
            }
        </style>

        <script type="text/javascript"
            src="https://appleid.cdn-apple.com/appleauth/static/jsapi/appleid/1/en_US/appleid.auth.js"></script>

        {% endif %}
    </div>
</div>

{% endblock %}