.appleid-text .appleid-text:visited {
  color: white;
  font-size: 20px;
  font-family: SF Pro Display;
  font-weight: 500;
  word-wrap: break-word;
  text-decoration: none;
}

.apple-id-container {
  padding: 15px;
  background: black;
  border-radius: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  display: inline-flex;
  text-decoration: none;
}

.apple-logo-container {
  width: 24px;
  height: 24px;
  position: relative;
  background: black;
}

.apple-logo-container img {
  width: 24px;
  height: 24px;
}

.google-container,
.google-container:visited {
  padding: 15px;
  background: white;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.17);
  border-radius: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  display: inline-flex;
  text-decoration: none;
}

.google-logo-container {
  width: 24px;
  height: 24px;
  position: relative;
  background: white;
}

.facebook-container,
.facebook-container:visited {
  padding: 15px;
  background: #1877f2;
  border-radius: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  display: inline-flex;
  text-decoration: none;
}

.facebook-logo-container {
  width: 24px;
  height: 24px;
  position: relative;
  background: #1877f2;
}

.facebook-logo-container img {
  width: 24px;
  height: 24px;
}

.login-container {
  background: white;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  display: inline-flex;
}

.snowball-window {
  width: 80%;
  top: 10%;
  left: 10%;
}

a {
  text-decoration: none;
}
