.login-container,
.login-container * {
  box-sizing: border-box;
}

.login-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 20%;
  position: relative;
}

.apple-button {
  background: #000000;
  border-radius: 10px;
  padding: 15px 20px 15px 20px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25),
    0px 0px 3px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  text-decoration: none;
}

.apple-logo {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}

.continue-with-apple {
  color: #ffffff;
  text-align: left;
  font: 500 20px "SF Pro Display", sans-serif;
  position: relative;
  flex: 1;
}

.google-button {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  padding: 15px 20px 15px 20px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25),
    0px 0px 3px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  text-decoration: none;
}

.google-logo {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}

.google-logo-container {
  position: absolute;
  left: 0.5px;
  top: 0.5px;
  overflow: visible;
}

.continue-with-google {
  color: rgba(0, 0, 0, 0.54);
  text-align: left;
  font: 500 20px "Roboto", sans-serif;
  position: relative;
  flex: 1;
}

.facebook-button {
  background: #1877f2;
  border-radius: 10px;
  padding: 15px 20px 15px 20px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25),
    0px 2px 3px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  text-decoration: none;
}

.facebook-logo {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}

.continue-with-facebook {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Helvetica", sans-serif;
  position: relative;
  flex: 1;
}

.snowball-window {
  top: 10%;
  left: 10%;
  width: 80%;
}

.passkey-button,
.passkey-button * {
  box-sizing: border-box;
}

.passkey-button {
  background: #979696;
  border-radius: 10px;
  padding: 15px 20px 15px 20px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25),
    0px 2px 3px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  text-decoration: none;
}

.passkey-icon {
  flex-shrink: 0;
  width: 24px;
  height: 22.52px;
  position: relative;
  overflow: hidden;
}

.group {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}

.continue-with-passkeys {
  color: #ffffff;
  text-align: left;
  font: 500 20px "SF Pro Display", sans-serif;
  position: relative;
  flex: 1;
}

.passkey {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  background-color: transparent;
  padding: 12px 20px;
  border-radius: 0;
  border: none;
  outline: none;
  caret-color: transparent;
  color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
