.login-container,
.login-container * {
  box-sizing: border-box;
}

.login-container {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 193px;
  position: relative;
}

.apple-button {
  background: #000000;
  border-radius: 10px;
  padding: 15px 20px 15px 20px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25),
    0px 0px 3px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  text-decoration: none;
}

.apple-logo {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}

.continue-with-apple {
  color: #ffffff;
  text-align: left;
  font: 500 20px "SF Pro Display", sans-serif;
  position: relative;
  flex: 1;
}

.google-button {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  padding: 15px 20px 15px 20px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25),
    0px 0px 3px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  text-decoration: none;
}

.google-logo {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}

.logo-googleg-48-dp {
  position: absolute;
  left: 0.5px;
  top: 0.5px;
  overflow: visible;
}

.continue-with-google {
  color: rgba(0, 0, 0, 0.54);
  text-align: left;
  font: 500 20px "Roboto", sans-serif;
  position: relative;
  flex: 1;
}

.facebook-button {
  background: #1877f2;
  border-radius: 10px;
  padding: 15px 20px 15px 20px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25),
    0px 2px 3px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  text-decoration: none;
}

.facebook-logo {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}

.continue-with-facebook {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Helvetica", sans-serif;
  position: relative;
  flex: 1;
}

.snowball-window {
  top: 10%;
  left: 10%;
}
