.form-container,
.form-container * {
  box-sizing: border-box;
}

.form-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.form-text {
  color: #000000;
  text-align: left;
  font: 400 7.61px "Helvetica", sans-serif;
  position: relative;
  align-self: stretch;
}

.text-input {
  background: #eeeeee;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.name {
  color: #979696;
  text-align: left;
  font: 400 10px "Helvetica", sans-serif;
  position: relative;
  flex: 1;
}

.submit {
  background: #3391ff;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.submit2 {
  color: #ffffff;
  text-align: center;
  font: 400 7.61px "Helvetica", sans-serif;
  position: relative;
  flex: 1;
}
