{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Snowball{% endblock %}</title>
    {% compress css %}
    <link type="text/x-scss" href="{% static 'snowball_main/bootstrap/bootstrap.scss' %}" rel="stylesheet"
        media="screen">
    {% endcompress %}
    <link href="{% static 'snowball_main/css/theme.css' %}" rel="stylesheet">
    <link href="{% static 'snowball_main/css/draggable.css' %}" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'snowball_main/images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'snowball_main/images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="194x194" href="{% static 'snowball_main/images/favicon-194x194.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"
        href="{% static 'snowball_main/images/android-chrome-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'snowball_main/images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'snowball_main/images/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'snowball_main/images/safari-pinned-tab.svg' %}" color="#3391ff">
    <link rel="shortcut icon" href="{% static 'snowball_main/images/favicon.ico' %}">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="{% static 'snowball_main/images/browserconfig.xml' %}">
    <meta name="theme-color" content="#8bc4ff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3Z1NBWKBZC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-3Z1NBWKBZC');
    </script>
</head>

<body>
    <header class="mac-header">
        <div class="container-fluid">
            <div class="menu">
                <a href="{% url 'snowball_main:home' %}">
                    <img class="icon" src="{% static 'snowball_main/svg/snowball_icon_black.svg' %}" alt="snowball logo"
                        height="30px">
                </a>
                {% if user.is_authenticated %}
                <a class="menu-item" href="{% url 'snowball_authentication:profile' %}">{{ user.username }}</a>
                {% else %}
                <a class="menu-item" href="{% url 'login' %}">Login</a>
                {% endif %}
                <a class="menu-item" href="{% url 'snowball_main:contact' %}">Contact</a>
                {% if user.is_authenticated %}
                <a class="menu-item" href="{% url 'passkeys:home' %}">Passkeys</a>
                <a class="menu-item" href="{% url 'logout' %}">Logout</a>
                {% endif %}
            </div>
        </div>
    </header>

    <div class="content">
        <img class="centered-image" src="{% static 'snowball_main/svg/snowball.svg' %}" alt="Snowball Logo">
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="{% static 'snowball_main/js/draggable.js' %}"></script>
    <script src="{% static 'snowball_main/js/bootstrap.bundle.min.js' %}"></script>

    {% block content %}{% endblock %}
    {% block head %}{% endblock %}
</body>

</html>