.draggable-element {
  position: absolute;
  cursor: move;
}

.snowball-window:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 10px;
  left: 10px;
  background: #ff5f56;
  box-shadow: 12px 0 0 0 #ffbd44, 24px 0 0 0 #00ca4e;
}

.snowball-window-content {
  padding: 24px 10px 10px 10px;
  font-family: "Helvetica", sans-serif;
  color: #333;
}

.snowball-icon-content {
  padding-top: 20px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.snowball-window {
  background: #fff;
  border: 1px solid #cccccc;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}

#snowballswiftkit {
  top: 10%;
  left: 20%;
}

#snowballdjango {
  top: 30%;
  left: 60%;
}

#convertSVGToSFSymbol {
  top: 60%;
  left: 70%;
}

#snowballExampleTypescriptExpo {
  top: 80%;
  left: 5%;
}

#docIcon {
  top: 5%;
  left: 90%;
}

@media (max-width: 480px) {
  #snowballdjango {
    left: 30%;
  }

  #convertSVGToSFSymbol {
    left: 40%;
  }

  #docIcon {
    left: 60%;
  }
}
