.draggable-element {
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border: 1px solid #cccccc;
  position: absolute;
  cursor: move;
}

.draggable-element:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 10px;
  left: 10px;
  background: #ff5f56;
  box-shadow: 12px 0 0 0 #ffbd44, 24px 0 0 0 #00ca4e;
}

.draggable-element-content {
  padding: 24px 10px 10px 10px;
  font-family: "Helvetica", sans-serif;
  color: #333;
}

.mac-icon {
  margin: 50px;
  position: absolute;
  border-radius: 12px;
  text-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mac-icon img {
  width: 100%;
}

.mac-icon-label {
  width: 100%;
  text-align: center;
  font-family: "Helvetica", sans-serif;
  color: #ffffff;
  font-size: 14px;
  padding-top: 5px;
}

.mac-icon-label span {
  display: inline-block;
  margin-left: 5px;
}

#snowballswiftkit {
  top: 10%;
  left: 20%;
}

#snowballdjango {
  top: 20%;
  left: 80%;
}

#convertSVGToSFSymbol {
  top: 60%;
  left: 70%;
}

#snowballExampleTypescriptExpo {
  top: 80%;
  left: 5%;
}

@media (max-width: 480px) {
  #snowballdjango {
    left: 30%;
  }

  #convertSVGToSFSymbol {
    left: 40%;
  }
}
