.draggable-element {
  cursor: move;
  position: absolute;
  z-index: 9;
  background-color: #ffff;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px;
  color: #000000;
}

#snowballswiftkit {
  top: 10%;
  left: 10%;
}

#snowballdjango {
  top: 20%;
  left: 20%;
}

#convertSVGToSFSymbol {
  top: 30%;
  left: 10%;
}

#snowballExampleTypescriptExpo {
  top: 40%;
  left: 30%;
}
