body {
  background-color: #3391ff;
  padding-top: 30px;
}

.snowball-desktop {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.mac-header {
  height: 30px;
  background: #8bc4ff;
  position: fixed;
  top: 0;
  width: 100%;
  color: black;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.mac-header .menu {
  display: flex;
  align-items: center;
}

.mac-header .menu-item {
  padding: 0 15px;
  cursor: pointer;
}

.mac-header .icon {
  padding-right: 15px;
}
