body,
html {
  background-color: #3391ff;
  padding-top: 30px;
  overflow: hidden;
  height: 100%;
  margin: 0;
}

.mac-header {
  height: 30px;
  background: #8bc4ff;
  position: fixed;
  top: 0;
  width: 100%;
  color: black;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.mac-header .menu {
  display: flex;
  align-items: center;
}

.icon {
  padding-right: 15px;
}

.mac-header .menu-item,
.mac-header .menu-item:visited {
  padding: 0 15px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 30px);
}

.centered-image {
  display: block;
  max-width: 90%;
  max-height: 80%;
}

.draggable-element {
  position: absolute;
  cursor: move;
}

.title-bar {
  height: 20px;
  background: #eee;
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: move;
  font-size: 10px;
}

.button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.close-button {
  background: #ff5f56;
}

.minimize-button {
  background: #ffbd2e;
}

.maximize-button {
  background: #27c93f;
}

.snowball-window-content {
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.snowball-icon-content {
  padding-top: 20px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.snowball-window {
  background: #fff;
  border: 1px solid #aaa;
  position: absolute;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
}

@media (max-width: 576px) {
  .mac-header .menu-item {
    padding: 0 5px;
    font-size: 0.8em;
  }
}
