body,
html {
  background-color: #3391ff;
  padding-top: 30px;
  overflow: hidden;
  height: 100%;
  margin: 0;
}

.mac-header {
  height: 30px;
  background: #8bc4ff;
  position: fixed;
  top: 0;
  width: 100%;
  color: black;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.mac-header .menu {
  display: flex;
  align-items: center;
}

.mac-header .menu-item {
  padding: 0 15px;
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 30px);
}

.centered-image {
  display: block;
  max-width: 90%;
  max-height: 80%;
}
