{% extends "base.html" %}

{% load i18n %}

{% block content %}

<div id="{{ window.elementId }}" class="snowball-window" style="width: 80vw; height: 80vh; top: 10vh; left: 10vw">
    <div class="title-bar" id="title-bar-{{ window.elementId }}">
        <div class="button close-button" id="close-btn-{{ window.elementId }}"></div>
        <div class="button minimize-button" id="min-btn-{{ window.elementId }}"></div>
        <div class="button maximize-button" id="max-btn-{{ window.elementId }}"></div>
        {{ window.title }}
    </div>
    <div class="snowball-window-content">
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            <p>Already have an account? Then please <a href="{{ login_url }}">sign in</a>.</p>

            {% csrf_token %}
            {{ form.non_field_errors | safe }}
            <input type="hidden" name="remember" value="true" />
            <div>
                <div>
                    {{ form.username.errors | safe }}
                    <label for="username" class="sr-only">Username</label>
                    {{ form.username }}
                </div>
                <div>
                    {{ form.email.errors | safe }}
                    <label for="email" class="sr-only">Username</label>
                    {{ form.email }}
                </div>
                <div>
                    {{ form.password1.errors | safe }}
                    <label for="id_password1" class="sr-only">Password</label>
                    {{ form.password1 }}
                </div>
                <div>
                    {{ form.password2.errors | safe }}
                    <label for="password2" class="sr-only">Password</label>
                    {{ form.password2 }}
                </div>
            </div>
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit">Sign Up</button>
        </form>
    </div>
</div>

{% endblock %}