{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'snowball_authentication/css/passkeys.css' %}">

<div id="profile-window" class="snowball-window" style="width: 80%; top: 10%; left: 10%;">
    <div class="title-bar" id="title-bar-profile-window">
        <div class="button close-button" id="close-btn-profile-window"></div>
        <div class="button minimize-button" id="min-btn-profile-window"></div>
        <div class="button maximize-button" id="max-btn-profile-window"></div>
        Passkeys
    </div>
    <div class="snowball-window-content">
        <form method="post" class="form-container">
            {% csrf_token %}
            <div class="form-group">
                <label for="text" class="form-text">Register Passkey:</label>
                <input type="text" class="text-input" class="form-control" id="text" placeholder="name">
                <button type="submit" class="btn btn-primary submit">Submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}