{% extends 'base.html' %}

{% block content %}
{% load static %}
<style>
    a,
    h1 {
        color: #3391ff;
    }
</style>

<div class="container d-flex align-items-center justify-content-center" style="height: 76vh;">
    <h1>In progress...</h1>
</div>

<h4 class="container align-items-center justify-content-center">
    <a href="https://github.com/snowball-tools/SnowballSwiftKit">SnowballSwiftKit</a>
    <br>
    <a href="https://github.com/snowball-tools/SnowballDjango">This Django App</a>
    <br>
    <a href="https://github.com/snowball-tools/ConvertSVGToSFSymbol">Convert SVG files to SF Symbol</a>
    <br>
    <a href="https://github.com/snowball-tools/SnowballExampleTypescriptExpo">Example Typescript React Native Expo
        App</a>
</h4>

{% endblock %}